{
 :paths ["src" "resources"]

 :deps {
        parallel {:mvn/version "0.10"}}

 :aliases {
           :dev {
                 :extra-deps {org.clojure/tools.namespace        {:mvn/version "0.2.11"}
                              io.aviso/pretty                    {:mvn/version "0.1.34"}
                              spyscope                           {:mvn/version "0.1.6"}
                              fipp                               {:mvn/version "0.6.12"}
                              cljfmt                             {:mvn/version "0.6.4"}}
                 :extra-paths ["dev/src" "test"]
                 :jvm-opts ["-Dclojure.spec.compile-asserts=true"]}

           :test {
                  :extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
                  :main-opts ["-m" "cognitect.test-runner"]}

           :docs {
                  :extra-paths ["aliases/codox"]
                  :extra-deps {org.clojure/tools.deps.alpha     {:mvn/version "0.7.527"}
                               codox                            {:mvn/version "0.10.7"}
                               codox-theme-rdash                {:mvn/version "0.1.2"}}
                  :main-opts ["-m" "smangler.codox.main"]}

           :dev-nrepl {
                       :jvm-opts ["-Dnrepl.load=true"]
                       :extra-paths ["aliases/nrepl"]
                       :extra-deps {cider/cider-nrepl        {:mvn/version "0.22.0-beta6"}
                                    ;;refactor-nrepl         {:mvn/version "2.3.1"}
                                    cider/piggieback         {:mvn/version "0.4.1"}
                                    nrepl/nrepl              {:mvn/version "0.6.0"}
                                    acyclic/squiggly-clojure {:mvn/version "0.1.9-SNAPSHOT"}}}

           :dev-rebel {
                       :extra-paths ["aliases/rebel"]
                       :extra-deps {com.bhauman/rebel-readline      {:mvn/version "0.1.4"}
                                    com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                    io.aviso/pretty                 {:mvn/version "0.1.37"}}
                       :main-opts ["-m" "smangler.rebel.main"]}}

 :codox {
         :name        "smangler"
         :description "String mangling library for Clojure"
         :license     "Copyright"
         :package     io.randomseed.smangler
         :version     "1.0.0"
         :output-path "docs"
         :source-uri "https://github.com/randomseed-io/smangler/blob/{version}/{filepath}#L{line}"
         :metadata {:doc/format :markdown}
         :themes [:default
                  [:rdash]]}}
